<!-- Custom favicon override for GitHub profile picture -->
<link rel="icon" type="image/png" sizes="32x32" href="https://avatars.githubusercontent.com/son4jit?s=32">
<link rel="icon" type="image/png" sizes="16x16" href="https://avatars.githubusercontent.com/son4jit?s=16">
<link rel="apple-touch-icon" sizes="180x180" href="https://avatars.githubusercontent.com/son4jit?s=180">
<link rel="shortcut icon" href="https://avatars.githubusercontent.com/son4jit?s=32">
<link rel="manifest" href="/assets/img/favicons/site.webmanifest">
<meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#000000">